:root{
    --main-color: #8176FF;
    --secondary-color: #351C15;
    --third-color: #7C5642;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #595959;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: end;
}