:root{
    --main-color: #8176FF;
    --secondary-color: #351C15;
    --third-color: #7C5642;
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #595959;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.footer {
    background-color: #242526;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-family: 'tomkin-regular';
}